body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    font-size: 25px;
    font-weight: 550;
    background-color: #6665DD;

}
.content {
    height: 92.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #473BF0;
}
.gameboard {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
}
.boxes {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

footer {
    display: flex;
    height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: #6665DD ;
}


.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.582);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuInfo {
    height: 600px;
    width: 700px;
    border: 2px solid black;
    background-color: white;
    display: grid;
    grid-template-rows: 0.2fr 3fr 0.2fr;
}